
.form{
  margin: 40px;
}
.btn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.quantity {
  margin-left: 10px;
}

.select-section{
  display: flex;
  justify-content: center;
}

.title{
  text-align: center;
  font-weight: bold;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

.invalid-form-text{
  color:red;
}
