<h4 class="title"> Add cocktail </h4>
<form class="form" [formGroup]="cocktailForm" (ngSubmit)="sendCocktailRequest()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      formControlName="name"
      id="name"
      class="form-control"
    />
    <small
      *ngIf="fieldHasError('name', 'required')"
      class="form-text invalid-form-text"
    >
      Enter a name of the cocktail!
    </small>
  </div>
  <div class="form-group">
    <label for="image">Add image</label>
    <input
      type="text"
      formControlName="image"
      id="image"
      class="form-control"
    />
    <small
      *ngIf="fieldHasError('image', 'image')"
      class="form-text invalid-form-text"
    >
      Enter a correct path for an image of Cocktail!
    </small>
  </div>


  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      formControlName="description"
      id="description"
      class="form-control"
    ></textarea>
  </div>

  <div class="form-check">
    <div>Type: </div>
    <input formControlName="type" value="alcohol" class="form-check-input" type="radio" required id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      Alcohol
    </label>
    <div>
      <input value="no-alcohol" class="form-check-input" type="radio" required formControlName="type"
             id="flexRadioDefault2"
             checked>
      <label class="form-check-label" for="flexRadioDefault2">
        No alcohol
      </label>
    </div>
  </div>

  <button class="btn btn-primary" type="button"  (click)="addDetails()">Add Cocktail Ingredients </button>

  <div style="margin: 15px" class="form-group" formArrayName="cocktailIngreds"
       *ngFor="let cocktail of getCocktails(); let i = index">
    <div [formGroupName]="i" class="form-check-inline">
      <input
        type="text"
        formControlName="ingredName"
        placeholder="Add name of the ingreds"
        id="ingredName"
        class="form-control"
      />
      <input
        type="number"
        style="margin-left: 10px"
        formControlName="quantity"
        placeholder="Enter a quantity"
        id="quantity"
        class="form-control"
      />
      <div class="select-section" style="margin-left: 10px">
        <select class="form-select" aria-label="Default select example" formControlName="measure">
          <option name="mes" value=" "> </option>
          <option name="mes" value="oneshot">One shot</option>
          <option  name="mes" value="twoshot">Two shot</option>
        </select>
    </div>
      <button style="margin-left: 15px" class="btn btn-primary" (click)="remove(i)">Remove</button>
  </div>
  </div>

  <div class="form-group">
    <label for="prepGuide">Prepare instruction for the cocktail</label>
    <textarea
      formControlName="prepGuide"
      id="prepGuide"
      class="form-control"
    ></textarea>
    <small
      *ngIf="fieldHasError('prepGuide', 'required')"
      class="form-text invalid-form-text"
    >
      Plase describe instruction how to make a cocktail!
    </small>
  </div>

  <button
          [disabled]="cocktailForm.invalid"
          class="btn btn-primary"
          type="submit">SEND</button>
</form>

