
<div class="card" style="width: 350px; margin-bottom: 20px" (click)="openCheckoutModal()">
  <img  [src]="cocktail.image"  class="card-img-top" alt="{{cocktail.name}}">
  <h5 class="card-title">Name: <b>{{ cocktail.name }}</b></h5>
    <div class="card-body">Type: {{ cocktail.type }}</div>
</div>





<app-modal
  title="Close?"
  [isOpen]="modalOpen"
  (close)="closeCheckoutModal()"
>
  <div class="modal-body">
    <h5 class="card-title">Name: {{ cocktail.name }}</h5>
    <div class="col-sm-4">
      <img
        [src]="cocktail.image" alt="{{ cocktail.name }}"
        style="max-width: 100%"
      />
    </div>
    <div><b>Type:</b>{{cocktail.type}}</div>
    <div><b>Description:</b>{{cocktail.description}}</div>
    <div class="card-text" *ngFor="let oneItem of cocktail.cocktailIngreds; let i = index">
      <div><i>Ingredients name: </i>{{oneItem.ingredName}}</div>
      <div><i>Ingredients name: </i>{{oneItem.quantity}}</div>
      <div><i>Measure: </i>{{oneItem.measure}}</div>
    </div>
    <div><b>Instruction: </b> {{cocktail.prepGuide}}</div>
  </div>

  <div class="modal-footer">
    <button
      class="btn btn-danger"
      (click)="closeCheckoutModal()"
    >Cancel</button>
  </div>

</app-modal>
